<html>
<head>
    <style>
    table, th, td {
  border: 1px solid black;
}
   </style>
</head>
<body>
<table border>
    <thead>
    <tr><th>S.N</th>
        <th>Meter ID</th>
        <th>Fuel</th>
        <th>Unit Info.</th>
        <th>Half Hourly Info.</th>

    </tr>
    </thead>
    <tbody>
    {% if meters %}
    {% for meter in meters %}
    <tr><td>{{ forloop.counter }}</td>
        <td>{{ meter.id }}</td>
        <td>{{ meter.fuel }}</td>
        <td>{{ meter.unit }}</td>
        <td><a href="/buildings/{{meter.building.id}}/meters/{{meter.id}}/half-hourly-data/"> More Info.</a>
        </td>
    </tr>
    <!-- end for and if -->
    {% endfor %}
    {% endif %}
    </tbody>
</table>
</body>
</html>